<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>icon of fly</key>
	<string>Icon made by Freepik from www.flaticon.com </string>
	<key>flyContinuous.aiff</key>
	<string>382327__carpuzi__background-music-treatment.aiff from freesound.org by carpuzi</string>
</dict>
</plist>
